@import '../variables';

body {
  font-family: "Montserrat", sans-serif;
}

header, footer {
  margin: 40px 0;
}

.pagination, table{
  margin-bottom: 0;
}

p {
  font-size: 0.96rem;
  font-weight: 300;
  color: transparentize($body-color, 0.2);
}

.clickPrevent{
  position: absolute;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
}

.modal-dialog, .modal-content{
  position: static !important;
}

.modal-header, .modal-footer {
  position: relative;
}

.loading{
  width: 60px;
}

.right {
  float: right;
}

label {
  margin-bottom: 0 !important;
}
