@import '../variables';

.errorText {
  font-size: 0.8125rem;
  color: $danger;
  font-weight: 500;

  &.errorCenter {
    text-align: center;
  }
}

label {
  color: $primary;
  font-size: 0.82rem;
  font-weight: 500;
  margin-bottom: 0;
}

.green{
  color: $green;
}
.red{
  color: $red;
}
