$grid-columns: 24;
@import 'node_modules/bootstrap-4-grid/scss/grid';

.border {
  border: 1px solid black;
}

body {
  background-color: #223a3a;
  background-color: #e6e6e6;
  color: #e6e6e6;
  color: #223a3a;
  font-family: "Montserrat", sans-serif;
}
