<div *ngIf="title" class="row no-gutters" style="margin: 0 60px">
  <h4 class="col-auto">{{title}}</h4>
</div>
<div class=" row no-gutters"  style="margin: 0 60px">
  <div *ngIf="!grow" class="col-24">price: {{price | float}} USD</div>
  <div *ngIf="!grow" class="col-24">date: {{target}}</div>

  <div *ngIf="grow" class="col-12" [ngClass]="{'green': grow>=0, 'red': grow<0}">grow: {{grow | float}} USD</div>
  <div *ngIf="grow" class="col-12 text-right">date to: {{target}}</div>
  <div *ngIf="grow" class="col-12" [ngClass]="{'green': grow>=0, 'red': grow<0}">increase: {{increase | float}}%</div>
  <div *ngIf="grow" class="col-12 text-right">date from: {{targetPrev}}</div>

</div>
<div style="margin-right: 60px" >
  <div #googleChart></div>
</div>

