<h3>Landing-page loaded!</h3>
<h3>Bootstrap test:</h3>
<div class="row">
  <div class="col-12">test111</div>
  <div class="col-12">test222</div>
</div>

<div class="row">
  <div class="col-6">ha ha test 123</div>
  <div class="col-12">ha ha test 321</div>
</div>


<div class="row">
  <div class="col-18">test xd</div>
  <div class="col-6">test lol</div>
</div>
<h3>First API call:</h3>
<ng-container *ngIf="coinAuthServiceAuthResponse">
  Prices for: {{coinAuthServiceAuthResponse.asset_id_base}}
  <table>
    <tr>
      <th>Time</th>
      <th>Code</th>
      <th>Rate</th>
    </tr>
    <tr *ngFor="let a of (coinAuthServiceAuthResponse.rates).slice(0, 10); let i=index">
      <td>{{a.time | date}}</td>
      <td>{{a.asset_id_quote}}</td>
      <td>{{a.rate}}</td>
    </tr>
  </table>
</ng-container>
<div></div>

<h3>Firebase API calls:</h3>

<div class="m-4 p-3 border">
  <h4>current user</h4>
  <div *ngIf="!firebaseAuthService.user">not logged</div>
  <div *ngIf="firebaseAuthService.user">email: {{firebaseAuthService.user.email}}</div>
  <div *ngIf="firebaseAuthService.userToken" class="token">token: {{firebaseAuthService.userToken}}</div>
</div>

<div class="m-4 p-3 border">
  <h4>logout</h4>
  <button (click)="onLogoutClick()">logout</button>
</div>

<div class="m-4 p-3 border">
  <h4>sign up</h4>
  <form [formGroup]="signUpFormGroup" role="form">

    <!-- Email -->
    <input autocomplete="email" formControlName="email" placeholder="Email" type="email">

    <!-- Password -->
    <input autocomplete="password" formControlName="password" placeholder="Password" type="password">

    <!-- Confirm Password -->
    <input autocomplete="password" formControlName="confirmPassword" placeholder="Confirm password" type="password">

    <!-- Submit button -->
    <button (click)="onUserSignUpClick()" class="mx-3">sign up</button>

    <span *ngIf="signUpFormGroupError && !isUserSignedUp">
      {{signUpFormGroupError}}
    </span>

    <span *ngIf="isUserSignedUp">
      success!
    </span>
  </form>

</div>

<div class="m-4 p-3 border">
  <h4>log in</h4>
  <form [formGroup]="signInFormGroup" role="form">

    <!-- Email -->
    <input autocomplete="email" formControlName="email" placeholder="Email" type="email">

    <!-- Password -->
    <input autocomplete="password" formControlName="password" placeholder="Password" type="password">

    <!-- Submit button -->
    <button (click)="onUserSignInClick()" class="mx-3">sign in</button>

    <span *ngIf="signInFormGroupError && !isUserSignedIn">
      {{signInFormGroupError}}
    </span>

    <span *ngIf="isUserSignedIn">
      success!
    </span>
  </form>

</div>

<!--<apx-chart [series]="series" [chart]="chart"></apx-chart>-->
<hr>


<!--<google-chart [data]="columnChart" (click)="myfunction()"></google-chart>-->
<div class="px-4 row no-gutters" style="background-color: white">
  <h1 class="col-auto">S&P 500</h1>
</div>
<div class="px-4 row no-gutters" style="background-color: white">
  <div class="col-auto">grow: {{this.grow}}</div>
  <div class="col-auto pl-4">increase: {{this.increase}}%</div>
</div>
<div class="px-4 pb-4" style="background-color: white">
  <div #test></div>
</div>


<div class="mb-5 pb-5"></div>

<app-default-component> TEST1</app-default-component>
